<div th:fragment="topnav" class="topnav">
    <div th:class="${activePage == 'profile' ? 'active' : ''}">
        <a class="button-link" href="/profile">Профил</a>
    </div>
    <div th:class="${activePage == 'grades' ? 'active' : ''}">
        <a class="button-link" href="/grades">Оценки</a>
    </div>
    <div th:class="${activePage == 'program' ? 'active' : ''}">
        <a class="button-link" href="/program">Седмично Разписание</a>
    </div>
    <div th:class="${activePage == 'manage_profile' ? 'active' : ''}">
        <a class="button-link" href="/manage_profile">Управление на Профила</a>
    </div>
    <div class="logout">
        <a class="button-link" href="/logout">Изход</a>
    </div>
</div>



<div th:fragment="topnav_adm" class="topnav">
    <div th:class="${activePage == 'home' ? 'active' : ''}">
        <a class="button-link" href="/admin_home">Начало</a>
    </div>
    <div th:class="${activePage == 'users' ? 'active' : ''}">
        <div class="dropdown">
            <button class="dropbtn">Потребители</button>
            <div class="dropdown-content">
                <a href="/create_user">Създай</a>
                <a href="/update_user">Редактирай</a>
            </div>
        </div>
    </div>
    <div th:class="${activePage == 'subjects' ? 'active' : ''}">
        <div class="dropdown">
            <button class="dropbtn">Предмети</button>
            <div class="dropdown-content">
                <a href="subject_names">Добавяне на Предмет</a>
                <a href="#">Добавяне към Студент</a>
                <a href="subject_taken">Заверки и Оценки</a>
            </div>
        </div>
    </div>
    <div th:class="${activePage == 'administrate' ? 'active' : ''}">
        <a class="button-link" href="/administrate">Администрация</a>
    </div>
<!--    <div>-->
<!--        <a class="button-link" href="/logout">Изход</a>-->
<!--    </div>-->
</div>
