.grades-container {
    text-align: -webkit-center;
}

/* Table container styling */
.table-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /*text-align: center;*/
}

/* Table styling */
table {
    width: 80%;
    border: 1px solid black;
    text-align: center;
}

/* Table header row styling */
thead th {
    background-color: lightgray;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Table data cell styling */
tbody td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Zebra rows for better readability */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.subject-table {
    min-width: 1000px;
    max-width: 60%;
}

.semester-container {
    margin-top: 20px;
    text-align: -webkit-center;
}

.semester-header {
    font-size: 18px;
    font-weight: bold;
}

.th_id {
    width: 5%;
}

.th_sn {
    width: 50%;
}

.th_tn,
.th_gd {
    width: 22.5%;
}