.info-table {
    /*border-collapse: collapse;*/
    margin: 0 auto;
    /*border: 1px black;*/
    max-width: 80%;
}

.info-key, .info-value {
    padding: 8px;
    text-align: left;
    /*border: none;*/
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.info-value span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-key {
    font-weight: bold;
    width: 50%;
}

.info-value {
    width: calc(50%);
}