.topnav {
  background-color: #007bff;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topnav a {
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.topnav a:hover {
  background-color: #0056b3;
}

.topnav .active a {
  background-color: white;
  color: #007bff;
}