<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>

    <link rel="stylesheet" th:href = "@{/css/navbar.css}">
    <link rel="stylesheet" th:href = "@{/css/create_user.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: topnav}"></div>
<hr>
<div th:each="authority : ${loggedInUser.authorities}">
    <div th:if="${authority.authorityName == 'ROLE_ADMIN'}">
        <div  th:replace="~{fragments/navbar :: topnav_adm}"></div>
    </div>
</div>

<div class="container">
    <div class="sub-container with-border">
        <h2>
            Create User
        </h2>
        <form action="/user/create" method="post">
            <table class="cr_usr">
                <tr>
                    <td>Personal ID:</td>
                    <td><input type="text" name="personalId" required></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="firstName" required></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" name="lastName" required></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" required></td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>    <div class="sub-container">
        <h2>
            Create Student
        </h2>
        <form action="/user/create-student" method="post">
            <table class="cr_usr">
                <tr>
                    <td>Personal ID:</td>
                    <td><input type="text" name="personalId" required></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="firstName" required></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" name="lastName" required></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" required></td>
                </tr>
                <tr>
                    <td>Faculty:</td>
                    <td><input type="text" name="faculty" required></td>
                </tr>
                <tr>
                    <td>Faculty Number:</td>
                    <td><input type="text" name="facultyNumber" required></td>
                </tr>
                <tr>
                    <td>Degree:</td>
                    <td><input type="text" name="degree" required></td>
                </tr>
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

</body>
</html>