<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>

    <link rel="stylesheet" th:href = "@{/css/navbar.css}">
    <link rel="stylesheet" th:href = "@{/css/profile.css}">
    <link rel="stylesheet" th:href = "@{/css/grades.css}">
    <link rel="stylesheet" th:href = "@{/css/info-table.css}">
    <link rel="stylesheet" th:href = "@{/css/program-table.css}">
    <link rel="stylesheet" th:href = "@{/css/outerbar.css}">
    <link rel="stylesheet" th:href = "@{/css/background.css}">

</head>
<body>
<div th:replace="~{fragments/navbar :: topnav}"></div>

<div class="grades-container" th:if="${loggedInUser != null}">
    <div class="profile-holder">
        <div class="profile">
            <!--        <img src="path_to_image.jpg" alt="User Photo">-->
            <h2><span th:text="${loggedInUser.firstName}"></span> <span th:text="${loggedInUser.lastName}"></span></h2>
            <hr><br>
            <div class="profile-container">
                <table class="info-table">
                    <tr>
                        <td class="info-key"><strong>Average grade:</strong></td>
                        <td class="info-value"><span th:text="${#numbers.formatDecimal(studentData.getAverageGrade, 0, 2)}"></span></td>
                    </tr>
                    <tr>
                        <td class="info-key"><strong>Average grade of last 2 Semesters:</strong></td>
                        <td class="info-value"><span th:text="${#numbers.formatDecimal(studentData.getAvgGradeLast2Semesters, 0, 2)}"></span></td>
                    </tr>
                    <tr>
                        <td class="info-key"><strong>Number of low grades:</strong></td>
                        <td class="info-value"><span th:text="${studentData.getLowGradesNum}"></span></td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>

    <div class="profile">
        <div class="semester-container" th:each="curriculum, curriculaIndex : ${orderedCurricula}">
            <div class="semester-header">
                Semester №<span th:text="${curriculum.semester.intValue}"></span>
            </div>
            <table class="subject-table">
                <thead>
                <tr>
                    <th class="th_id">#</th>
                    <th class="th_sn">Subject Name</th>
                    <th class="th_tn">Subject Type</th>
                    <th class="th_tn">Taken</th>
                    <th class="th_gd">Grade</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="subject, subjectIndex : ${curriculum.subjects}">
                    <tr>
                        <td th:text="${subjectIndex.count}"></td>
                        <td th:text="${subject.name.name}"></td>
                        <td th:text="${#strings.capitalize(#strings.toLowerCase(subject.lessonType))}"></td>
                        <td th:text="${subject.passed ? 'Passed' : 'Not Passed'}"></td>
                        <td>
                            <span th:if="${subject.grade == 1}">-</span>
                            <span th:unless="${subject.grade == 1}" th:text="${subject.grade}"></span>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/outerbar :: outerbar}"></div>

</body>
</html>