<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login Page</title>
	<link rel="stylesheet" th:href = "@{/css/login.css}">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
	<div class="container">
		<form th:action="@{/login}" method="post">
			<label for="username">Email:</label>
			<input type="text" id="email" name="username">

			<label for="password">Password:</label>
			<input type="password" id="password" name="password">

			<div class="g-recaptcha" data-sitekey="6LdMbHomAAAAAC0WqycxKDCoQMEDxazPuqltcD2t"></div>
			<!--		<div class="g-recaptcha col-sm-5"-->
			<!--			 th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>-->
			<!--		<span id="captchaError" class="alert alert-danger col-sm-4"-->
			<!--			  style="display:none"></span>-->
			<input type="submit" value="Log in">
		</form>
	</div>
</body>
</html>