<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login Page</title>
	<link rel="stylesheet" th:href = "@{/css/login.css}">
	<link rel="stylesheet" th:href = "@{/css/outerbar.css}">
	<link rel="stylesheet" th:href = "@{/css/background.css}">

	<script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
<div class="headerDiv">
	<h1>
		Студентска Информационна Система
	</h1>
</div>
<div class="container">
	<div class="alert" th:if="${param.error}">
		<strong>Невалидни входни данни.</strong>
	</div>

	<div class="alert" th:if="${param.recaptcha_error}">
		<strong>Моля потвърдете бутона "Анти робот"</strong>
	</div>

	<form th:action="@{/login}" method="post">
		<label for="username">Email:</label>
		<input type="text" id="email" name="username">

		<label for="password">Парола:</label>
		<input type="password" id="password" name="password">
				<div class="g-recaptcha col-sm-5"
					 th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
				<span id="captchaError" class="alert alert-danger col-sm-4"
					  style="display:none"></span>

		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

		<input type="submit" value="Log in">
	</form>
</div>
<br>
<br>
<br>
<div th:replace="~{fragments/outerbar :: outerbar}"></div>

</body>
</html>