<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Profile</title>

    <link rel="stylesheet" th:href = "@{/css/navbar.css}">
    <link rel="stylesheet" th:href = "@{/css/profile.css}">
    <link rel="stylesheet" th:href = "@{/css/manage-profile-info.css}">
    <link rel="stylesheet" th:href = "@{/css/program.css}">
    <link rel="stylesheet" th:href = "@{/css/info-table.css}">
    <link rel="stylesheet" th:href = "@{/css/outerbar.css}">
    <link rel="stylesheet" th:href = "@{/css/background.css}">

</head>
<body>
<div th:replace="~{fragments/navbar :: topnav}"></div>
<hr>
<div th:if="${messages}" class="messages">
    <ul>
        <li th:each="message : ${messages}" th:text="${message}"></li>
    </ul>
</div>


<div class="manage-profile-info" th:if="${loggedInUser != null && loggedInUser.isStudent}">
    <div class="profile" id="first">
        <!--        <img src="path_to_image.jpg" alt="User Photo">-->
        <h2><strong>Профил</strong></h2>

        <div class="profile-info">
            <table class="info-table">
                <tr>
                    <td class="info-key"><strong>Email:</strong></td>
                    <td class="info-value"><span th:text="${loggedInUser.email}"></span></td>
                </tr>
                <tr>
                    <td class="info-key"><strong>Активен семестър:</strong></td>
                    <td class="info-value"><span th:text="${#strings.capitalize(#strings.toLowerCase(studentData.semester.value))}"></span></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="profile" id="second">
        <form action="/manage_profile/save_changes" autocomplete="off" method="post">
            <div class="in_form">
                <div class="dummyDiv">
                    <div class="change" th:if="${studentData}">
                        <div class="change_iban">
                            <h3>Промяна на IBAN:</h3>
                            <table class="ibanTable">
                                <tr class="ibanTableRow">
                                    <td class="td_key"><strong>Активен IBAN:</strong></td>
                                    <td>
                                        <span th:if="${studentData.iban != null and studentData.iban != ''}" th:text="${studentData.iban}"></span>
                                        <span th:unless="${studentData.iban != null and studentData.iban != ''}">Празно</span>
                                    </td>
                                </tr>
                                <tr class="ibanTableRow">
                                    <td class="td_key"><label>Нов IBAN</label></td>
                                    <td><input class="ibanInput" id="ibanInput" name="ibanInput" autocomplete="off" type="text" placeholder="Example_IBAN_123"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="change" th:if="${studentData}">
                        <div class="change_phoneNumber">
                            <h3>Промяна на Тел. Номер:</h3>
                            <table class="phoneNumberTable">
                                <tr class="phoneNumberTableRow">
                                    <td class="td_key"><strong>Текущ Тел. Номер:</strong></td>
                                    <td>
                                        <span th:if="${loggedInUser.phoneNumber != null and loggedInUser.phoneNumber != ''}" th:text="${loggedInUser.phoneNumber}"></span>
                                        <span th:unless="${loggedInUser.phoneNumber != null and loggedInUser.phoneNumber != ''}">Празно</span>
                                    </td>
                                </tr>
                                <tr class="phoneNumberTableRow">
                                    <td class="td_key"><label>Нов Тел. Номер</label></td>
                                    <td><input class="phoneNumberInput" id="phoneNumberInput" name="phoneNumberInput" autocomplete="off" type="text" placeholder="+359-123-456-789"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="dummyDiv">
                    <div class="change" th:if="${studentData}">
                        <div class="change_email">
                            <h3>Промяна на Email:</h3>
                            <table class="emailTable">
                                <tr class="emailTableRow">
                                    <td class="td_key"><strong>Личен email:</strong></td>
                                    <td>
                                        <span th:if="${loggedInUser.personalEmail != null and loggedInUser.personalEmail != ''}" th:text="${loggedInUser.personalEmail}"></span>
                                        <span th:unless="${loggedInUser.personalEmail != null and loggedInUser.personalEmail != ''}">Празно</span>
                                    </td>
                                </tr>
                                <tr class="emailTableRow">
                                    <td class="td_key"><label>Нов Личен Email</label></td>
                                    <td><input class="emailInput" id="emailInput" name="emailInput" autocomplete="off" type="text" placeholder="your_email@example.com"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="change" th:if="${studentData}">
                        <div class="change_password">
                            <h3>Промяна на Парола:</h3>
                            <table class="passwordTable">
                                <tr class="passwordTableRow">
                                    <td><label for="newPasswordInput">Нова Парола:</label></td>
                                    <td><input class="passwordInput" id="newPasswordInput" name="newSecretInput" autocomplete="off" type="password" placeholder="*****************"></td>
                                </tr>
                                <tr class="passwordTableRow">
                                    <td><label for="confirmNewPasswordInput">Потвърди Нова Парола:</label></td>
                                    <td><input class="passwordInput" id="confirmNewPasswordInput" name="confirmNewSecretInput" autocomplete="off" type="password" placeholder="*****************"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

            <div style="text-align: center;">
                <button type="submit" class="submit-button">Запазване на Промените</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/outerbar :: outerbar}"></div>

</body>
</html>