<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly Program</title>

    <link rel="stylesheet" th:href = "@{/css/navbar.css}">
    <link rel="stylesheet" th:href = "@{/css/profile.css}">
    <link rel="stylesheet" th:href = "@{/css/grades.css}"> <!--// tablicite -->
    <link rel="stylesheet" th:href = "@{/css/program.css}">
    <link rel="stylesheet" th:href = "@{/css/info-table.css}">
    <link rel="stylesheet" th:href = "@{/css/program-table.css}">
    <link rel="stylesheet" th:href = "@{/css/outerbar.css}">
    <link rel="stylesheet" th:href = "@{/css/background.css}">

</head>
<body>
<div th:replace="~{fragments/navbar :: topnav}"></div>

<div class="grades-container" th:if="${loggedInUser != null}">
    <div class="profile-holder" th:if="${loggedInUser.isStudent}">
        <div class="profile">
            <h2><strong>Седмична програма за <span th:text="${#strings.capitalize(#strings.toLowerCase(studentData.semester.value))}"></span> семестър</strong></h2>
            <hr><br>
            <div class="profile-info">
                <table class="info-table">
                    <tr>
                        <td class="info-key"><strong>Текущ семестър:</strong></td>
                        <td class="info-value"><span th:text="${#strings.capitalize(#strings.toLowerCase(studentData.semester.value))}"></span></td>
                    </tr>
                    <tr>
                        <td class="info-key"><strong>Брой на Предмети:</strong></td>
                        <td class="info-value"><span th:text="${curriculumSize}"></span></td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>

    <div class="profile">
        <div class="semester-container" th:each="day : ${days}">
            <div class="semester-header">
                <span th:text="${#strings.capitalize(#strings.toLowerCase(days_bg[__${day.getValue - 1}__]))}"></span>
            </div>
            <table class="program-table">
                <thead>
                <tr>
                    <th class="th_nm">#</th>
                    <th class="th_sn">Предмет</th>
                    <th class="th_te">Час</th>
                    <th class="th_hl">Зала</th>
                    <th class="th_tp">Тип на часа</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="subject, subjectIndex : ${sortedSubjects}">
                    <tr th:if="${subject.dayOfWeek == day}">
                        <td th:text="${subjectIndex.count}"></td>
                        <td th:text="${subject.name.name}"></td>
                        <td th:text="${subject.startTime} + ' - ' + ${subject.endTime}"></td>
                        <td th:text="${subject.hall}"></td>
                        <td th:text="${#strings.capitalize(#strings.toLowerCase(subject.lessonType))}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/outerbar :: outerbar}"></div>

</body>
</html>