<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактиране на Потребител</title>

    <link rel="stylesheet" th:href = "@{/css/navbar.css}">
    <link rel="stylesheet" th:href = "@{/css/create_user.css}">
    <link rel="stylesheet" th:href = "@{/css/background.css}">
    <link rel="stylesheet" th:href = "@{/css/update_user.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: topnav}"></div>
<hr>
<div th:each="authority : ${loggedInUser.authorities}">
    <div th:if="${authority.authorityName == 'ROLE_ADMIN'}">
        <div  th:replace="~{fragments/navbar :: topnav_adm}"></div>
    </div>
</div>

<div class="container">
    <div class="sub-container with-border">
        <div class="search">
            <h2>Търсене на потребител</h2>
            <table>
                <th><input type="text" id="emailInput" placeholder="Email адрес" required></th>
                <th><button id="submitButton">Търсене</button></th>
                <th><button id="clearButton">Изчисти</button></th>
            </table>
            <table id="userTable">
                <tbody>
                <tr>
                    <td>Име:</td>
                    <td id="resultDivFname"></td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td id="resultDivLname"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td id="resultDivEmail"></td>
                </tr>
                <tr>
                    <td>ЕГН:</td>
                    <td id="resultDivPID"></td>
                </tr>
                <tr>
                    <td>Семестър:</td>
                    <td id="resultDivSemester"></td>
                </tr>
                <tr>
                    <td>Факултет:</td>
                    <td id="resultDivFaculty"></td>
                </tr>
                <tr>
                    <td>ОКС:</td>
                    <td id="resultDivDegree"></td>
                </tr>
                <tr>
                    <td>Поток:</td>
                    <td id="resultDivPotok"></td>
                </tr>
                <tr>
                    <td>Група:</td>
                    <td id="resultDivGroupName"></td>
                </tr>
                </tbody>
            </table>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var emailInput = document.getElementById("emailInput");
                    var submitButton = document.getElementById("submitButton");
                    var infoTable = document.getElementById("infoTable");

                    submitButton.addEventListener("click", function () {
                        var email = emailInput.value;

                        fetch("/user/get-by-email/" + email)
                            .then(function (response) {
                                return response.json();
                            })
                            .then(function (data) {
                                // Проверете дали има върнат отговор и дали има firstName
                                if (data && data.firstName) {
                                    // Заредете стойностите в таблицата
                                    document.getElementById("resultDivFname").textContent = data.firstName;
                                    document.getElementById("resultDivLname").textContent = data.lastName;
                                    document.getElementById("resultDivEmail").textContent = data.email;
                                    document.getElementById("resultDivPID").textContent = data.personalId;

                                    fetch("/student-data/get-by-student-id/" + data.id)
                                        .then(function (response) {
                                            return response.json();
                                        })
                                        .then(function (data2) {
                                            if (data2) {
                                                console.log(data2)
                                                document.getElementById("resultDivSemester").textContent = data2.semester;
                                                document.getElementById("resultDivFaculty").textContent = data2.faculty.abbreviation;
                                                document.getElementById("resultDivDegree").textContent = data2.degree;
                                                document.getElementById("resultDivPotok").textContent = data2.potok;
                                                document.getElementById("resultDivGroupName").textContent = data2.groupName;
                                            }
                                        });
                                }
                            })
                            .catch(function (error) {
                                console.error("Грешка при изпращане на GET заявка:", error);
                            });
                    });

                    var clearButton = document.getElementById("clearButton");
                    clearButton.addEventListener("click", function () {
                        // Изчистете стойностите в таблицата
                        document.getElementById("resultDivFname").textContent = "";
                        document.getElementById("resultDivLname").textContent = "";
                        document.getElementById("resultDivEmail").textContent = "";
                        // Изчистете останалите стойности по същия начин
                    });
                });
            </script>
        </div>
    </div>
    <div class="sub-container with-border">
        <h2>
            Редактиране на потребител
        </h2>
        <form action="/user/update" method="post">
            <table class="up_usr">
                <tr>
                    <td>ЕГН*:</td>
                    <td><input type="text" name="personalId" required></td>
                </tr>
                <tr>
                    <td>Име:</td>
                    <td><input type="text" name="firstName"></td>
                </tr>
                <tr>
                    <td>Фамилия:</td>
                    <td><input type="text" name="lastName"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Тел. номер:</td>
                    <td><input type="text" name="phoneNumber"></td>
                </tr>
                <tr>
                    <td>Личен Email:</td>
                    <td><input type="text" name="personalEmail"></td>
                </tr>
            </table>
            <input type="submit" value="Запазване">
        </form>
    </div>

    <div class="sub-container">
        <h2>
            Редактиране на студент
        </h2>
        <form action="/user/update-student" method="post">
            <table class="up_usr">
                <tr>
                    <td>ЕГН*:</td>
                    <td><input type="text" name="personalId" required></td>
                </tr>
                <tr>
                    <td>Факултет:</td>
                    <td><input type="text" name="faculty"></td>
                </tr>
                <tr>
                    <td>Факултетен номер:</td>
                    <td><input type="text" name="facultyNumber"></td>
                </tr>
                <tr>
                    <td>ОКС:</td>
                    <td><input type="text" name="degree"></td>
                </tr>
                <tr>
                    <td>Поток:</td>
                    <td><input type="text" name="potok"></td>
                </tr>
                <tr>
                    <td>Група:</td>
                    <td><input type="text" name="groupName"></td>
                </tr>
            </table>
            <input type="submit" value="Запазване">
        </form>
    </div>
</div>

</body>
</html>